* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    letter-spacing: 2px;
}
body,
html {
    background-color: black;
    height: 100%;
    width:  100%;
}
header {
    background-color: rgb(78, 77, 77);
    height: 80px;
    color: aliceblue;
    border-bottom: 3px solid white;
}
#h_1 {
    display: block;
}
#h_2 {
    display: none;
}
#h_1 ul {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
#h_1 ul li {
    display: inline-block;
    width: 100px;
}
#h_1 ul li:hover {
    background-color: black;
    cursor: pointer;
}
#game {
    height: calc(100% - 105px);
    background-color: bisque;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
}
button {
    cursor: pointer;
    margin: 10px;
}
